{% extends 'base.html' %}

{% block title %}关于DOS游戏中文网 - {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark-theme.css') }}">
{% endblock %}

{% block main %}
<div class="container">
    <h2><a href="https://webgame.one" target="_blank">DOS 游戏 - WebGame.One</a></h2>
    
    <div class="about-section">
        <h3>FC 游戏</h3>
        <p><a href="https://webgame.one" target="_blank">https://webgame.one</a></p>
    </div>

    <div class="about-section">
        <h3>游戏列表</h3>
        {% if games %}
            <div class="game-grid">
                {% for key, game_info in games.items()|sort(attribute='1.name.zh-Hans') %}
                    <div class="game-item">
                        <a href="{{ url_for('game', identifier=game_info['identifier']) }}">{{ game_info['name']['zh-Hans'] }}</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>暂无游戏</p>
        {% endif %}
    </div>
</div>
{% endblock %}