<!DOCTYPE html>
<html lang="zh-Hans" class="dark">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#121212">
    <title>{% block title %}{% endblock %} DOS游戏中文网 | 一网万游 | WebGame.One</title>
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://webgame.one/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://webgame.one/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://webgame.one/favicon-16x16.png">
    <link rel="mask-icon" href="https://webgame.one/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="keywords" content="一网万游、在线红白机游戏、对战平台、WebGame.One、80s 游戏、复古游戏" />
    <meta name="description" content="一网万游，带你重回 80 年代！WebGame.One 是专业的在线红白机游戏对战平台，海量经典红白机游戏任你畅玩，与全球玩家实时对战，重温童年游戏激情，感受复古游戏魅力，开启趣味十足的怀旧游戏之旅。" />
    <link rel="canonical" href="https://dos.webgame.one/" />
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0SFJV7E2BB"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
	
		gtag('config', 'G-0SFJV7E2BB');
	</script>
	<script type="text/javascript">
		(function(c, l, a, r, i, t, y) {
			c[a] = c[a] || function() {
				(c[a].q = c[a].q || []).push(arguments)
			};
			t = l.createElement(r);
			t.async = 1;
			t.src = "https://www.clarity.ms/tag/" + i;
			y = l.getElementsByTagName(r)[0];
			y.parentNode.insertBefore(t, y);
		})(window, document, "clarity", "script", "owd5aydfyh");
	</script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6708353961519889" crossorigin="anonymous"></script>
    
    
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/es6-promise.js') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/browserfs.min.js') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/loader.js') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/dosbox/dosbox-sync.js') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/dosbox/dosbox-sync.mem') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='emularity/webgame.png') }}">
    <link rel="prefetch" href="{{ url_for('static', filename='js/game.js') }}">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dark-theme.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        :root {
            --text-color: #4caf50;
            --bg-color: #121212;
            --card-bg-color: #1e1e1e;
        }
        
        body {
            background-color: var(--bg-color);
            color: var(--text-color);
            transition: background-color 0.3s, color 0.3s;
        }
        
        .navbar, .card, .table td {
            background-color: var(--card-bg-color) !important;
        }
        
        .text-light, .navbar-dark .navbar-nav .nav-link, .card-title, .card-subtitle, .card-text, .table {
            color: var(--text-color) !important;
        }
        
        .btn-outline-light {
            color: var(--text-color);
            border-color: var(--text-color);
        }
        
        .btn-outline-light:hover {
            color: var(--bg-color);
            background-color: var(--text-color);
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <h1><a class="navbar-brand nav-link" href="{{ url_for('index') }}">One Web, All Game: WebGame.One</a></h1>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('index') }}">🎲随机游戏</a>
                <a class="nav-item nav-link" href="{{ url_for('games') }}">💾DOS游戏</a>
                <a class="nav-item nav-link" href="https://webgame.one/">📺FC红白机</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">📟关于我们</a>
            </div>
            <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for('search') }}">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="游戏名称" aria-label="Search" value="{% block search_query %}{% endblock %}">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </div>
    </nav>
    {% block main %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    {% block footer %}{% endblock %}
</body>
<footer>
<div class="about-section">
        <center>
        <p><a href="https://webgame.one" target="_blank">Copyright © 2023 - 2024 WebGame.One</a></p>
        <p><a href="https://webgame.one" target="_blank">One Web, All Game | 一网万游 | WebGame.One</a></p>
        </center>
</div>
</footer>
</html>